.order-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 3em;
  padding: 1.5em;
  border-radius: 1em;
  background-color: rgb(36, 156, 3);
  color: white;
  font-size: 1.3rem;
  max-width: 25rem;

  .order-items {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .order-item {
      display: flex;
      justify-content: space-between;
    }
  }
}
