.stats {
  display: flex;
  gap: 1em;
  align-items: stretch;

  .stat {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    align-items: center;
    border-radius: 0.5em;
    background-color: #f19696;
    flex: 1 1 5%;

    p {
      font-size: 1.3em;
      text-align: center;
    }

    &.orange {
      background-color: #ffcc6d;
    }

    &.purple {
      background-color: #caa1e1;
    }

    &.red {
      background-color: #f19696;
    }
  }
}
