.admin {
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .orders {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .order-status {
      flex: 1 1 20%;
      max-width: 25%;
    }
  }

  button:not(.orders *), a:not(.orders *) {
    --button-color: #333333;
    --button-text-color: #fff;
    padding: 0.5em;
    margin: 0.3em;
  }
}
