.preparation {
  margin: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;

  .orders {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    .order-status {
      flex: 1 1 15%;
      max-width: 20%;
    }
  }
}
